.sbutton {
  text-align: center;
  .iconcontainer {
    border: 1px solid #ac5fd0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    .icon {
      width: 100%;
      height: 100%;
    }
  }
  .iconcontainer:hover {
    transform: scale(1.1);
  }
  .buttontext {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #3e3e3e;
    font-weight: 700;
    font-family: "Open Sans";
  }
}
