.buttonspost {
  padding-top: 10%;
}

.buttonstitle {
  width: 359px;
  height: 96px;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
  color: #3e3e3e;
  font-weight: 700;
  font-family: "Open Sans";
}

.buttonstext {
  margin-top: 10px;
  width: 408px;
  height: 96px;
  font-size: 16px;
  color: #161616;
  font-weight: 400;
  font-family: "Open Sans";
  -webkit-text-stroke: 1px #979797;
}

.buttonslink {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 42px;
  color: #613476;
  font-weight: 700;
  font-family: "Open Sans";
}

.buttonscontainer {
  padding-top: 20%;
  padding-bottom: 20%;
}

.buttonssecond {
  padding-top: 10%;
}
