.footer {
  background-color: #fafafa;
  .followus {
    font-size: 16px;
    color: #3e3e3e;
    font-weight: 700;
    font-family: "Open Sans";
  }
  .img {
    width: 43px;
    height: 43px;
    margin: 10px;
    transition: transform 0.3s;
  }
  .img:hover {
    transform: scale(1.1);
  }
}
